.expense-tracker{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #c5d6f3; */
}

.heading{
  margin-top: 10px;
  margin-bottom: 20px;
}
.expenses-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    width: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .expenses-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .expenses-form select {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .expenses-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .totalAmount {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-weight: bold;
  }